* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #d5dae5 !important;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
.header {
	position: absolute;
	width: 100%;
	z-index: 3;
	height: 44px;
	background-color: #000033;
	border-bottom: 3px solid #2d3d51;
}
/* logo in header(mobile version) and side-nav (tablet & desktop) */
.logo {
	height: 44px;
	padding: 10px;
	font-weight: 700;
}
.header .logo {
	color: white;
}
.side-nav .logo {
	background-color: #000033;
	color: #fff;
}
.header .logo {
	float: left;
}
.header .logo {
	height: 44px;
	z-index: 1;
	padding: 10px;
	font-weight: 700;
	color: #233245;
}
.logo  i {
	font-size: 22px;
}
.logo span {
	margin-left: 5px;
	text-transform: uppercase;
}
.nav-trigger {
	position: relative;
	float: right;
	width: 20px;
	height: 44px;
	right: 30px;
	display: block;	
}
.nav-trigger span, .nav-trigger span:before, span:after {
	width: 20px;
	height: 2px;
	background-color: white;
	position: absolute;
}
.nav-trigger span {
	top: 50%;
}
.nav-trigger span:before, .nav-trigger span:after {
	content: '';
}
.nav-trigger span:before {
	top: -6px;
}
.nav-trigger span:after {
	top: 6px;
}
/* side navigation styles */
.side-nav {
	position: fixed;
	width: 100%;
	height: 110vh;
	background-color: #35475e;
	z-index: 1;
	display: none;
}
.side-nav.visible {
	display: block;
}
.side-nav ul {
	margin: 0;
	padding: 0;
}
.side-nav ul li {
	padding: 16px 16px;
	border-bottom: 1px solid #3c506a;
	position: relative;
	color: #fff;
	
}

.side-nav ul li a {
	color: #fff;
	display: block;
	text-decoration: none;
}
.side-nav ul li i {
	color: #0497df;
	min-width: 20px;
	text-align: center;
}
.side-nav ul li span:nth-child(2) {
	margin-left: 10px;
	font-size: 14px;
	font-weight: 600;
}
/* main content styles */
.main-content {
	padding: 40px;
	margin-top: 0;
	padding: 0;
	padding-top: 44px;
	height: 100%;
	overflow: scroll;
}

.main-content1 {
	padding: 40px;
	margin-top: 0;
	padding: 0;
	padding-top: 44px;
	height: 100%;
}

.main-content .title {
	background-color: #eef1f7;
	border-bottom: 1px solid #b8bec9;
	padding: 10px 20px;
	font-weight: 700;
	color: #333;
	font-size: 18px;
}

.main-content1 .title1 {
	background-color: #eef1f7;
	border-bottom: 1px solid #b8bec9;
	padding: 10px 20px;
	font-weight: 700;
	color: #333;
	font-size: 18px;
}


/* set element styles to fit tablet and higher(desktop) */
@media screen and (min-width: 600px) {
	.header {
		background-color: #000033;
		z-index: 1;
	}
	.header .logo {
		display: none;
	}
	.nav-trigger {
		display: none;
	}
	.nav-trigger span, .nav-trigger span:before, span:after {
		background-color: #fff;
	}
	.side-nav {
		display: block;
		width: 70px;
		z-index: 2;
	}
	.side-nav ul li span:nth-child(2) {
		display: none;
	}
	.side-nav .logo i {
		padding-left: 12px;
	}
	.side-nav .logo span {
		display: none;
	}
	.side-nav ul li i {
		font-size: 26px;
	}
	.side-nav ul li a {
		text-align: center;
	}
	.main-content {
		margin-left: 70px;
	}

	.main-content1 {
		margin-left: 70px;
	}
}
/* set element styles for desktop */
@media screen and (min-width: 800px) {
	.side-nav {
		width: 200px;
	}
	.side-nav ul li span:nth-child(2) {
		display: inline-block;
	}
	.side-nav ul li i {
		font-size: 16px;
	}
	.side-nav ul li a {
		text-align: left;
	}
	.side-nav .logo i {
		padding-left: 0;
	}
	.side-nav .logo span {
		display: inline-block;
	}
	.main-content {
		margin-left: 200px;
	}

	.main-content1 {
		margin-left: 200px;
	}
}

/* main box container */
.main {
	display: flex;
	flex-flow: row wrap;
}
.widget {
	flex-basis: 340px !important;
	height: 170px !important;
	margin: 15px !important;
	border-radius: 6px !important;
	background-color: #ffffff !important;
	position: relative !important;
}
.widget .title {
	background-color: #eef1f7;
	border-bottom: 1px solid #dfe4ec;
	padding: 10px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: #617085;
	font-weight: 600;
}

.widget .Instructor{
	font-weight: 600;
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid #dfe4ec;
	
}

.widget .Beadle{
	text-align: center;
	padding: 10px;
	
	
	
}

.button {
    background-color:  #35475e;
    border: none;
    color: white;
    padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.button_1 {
    background-color:  #35475e;
    border: none;
    color: white;
    padding: 12px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px;
}

.blackboard
{
	border-radius: 5px;
	background-color: #28B463;
	font-family: ;
	text-align: center;
}

.teachers_table
{
	border-radius: 3px;
	background-color: #dfbf9f;
	height: 50px;
	width: 150px;
	font-family: ;
	margin: 0 auto;
	text-align: center;
}

.blackboard_t
{
	border-radius: 5px;
	background-color: #28B463;
	font-family: ;
	width: 1145px;
	text-align: center;
	position: absolute;
	bottom: 0px;
}

.teachers_table_t
{
	border-radius: 3px;
	background-color: #dfbf9f;
	height: 50px;
	width: 150px;
	font-family: ;
	margin-left: 36%;
	margin-right: 67%;
	text-align: center;
	position: absolute;
	bottom: 40px;
}

.dropdown
{
	float: right;
	padding-left: 10px;
	margin-right: 50px;
	margin-top: 15px;
}
.chairs_left
{
	background-color: ;
	height: 300px;
	width: 500px;
	margin: 15px;
	float: left;
	text-align: center;
}
.chairs_right
{
	background-color: ;
	height: 300px;
	width: 500px;
	margin: 15px;
	float: right;
	text-align: center;
}	
.button1
{
	border: 0px;
	border-radius: 5px;
	width: 90px; 
	height: 90px;
	margin: 7px;
}
.button2
{
	border: 0px;
	width: 30px; 
	height: 20px;
	margin: 7px;
}
table
{
	width: 100%;
	height: 100%;
}

.subjectn{
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: center;
}

.stud_cell_occupied{
	
	margin-top: 10px;
	width: 100%;
	background-color: #dfbf9f;
	border-radius: 5px;
}

.stud_cell_AF{
	
	margin-top: 10px;
	width: 100%;
	background-color: #e60000;
	border-radius: 5px;
}

.stud_cell_WARNING{
	
	margin-top: 10px;
	width: 100%;
	background-color: #e6b800;
	border-radius: 5px;
}

.stud_cell_empty{
	
	margin-top: 10px;
	width: 100%;
	background-color: #5c5c3d;
	border-radius: 5px;
}

.bottoms{
	width: 100%;
	bottom: 0px;
}

.color_td{
	background-color: #f2f2f2;
	
}
.color_td2{
	background-color: #c2c2a3;
	
}