.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.subjectn{
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
}

.table-heading
{   
    font-family: 'Barlow', sans-serif;
    background-color: #35475e;
    color: white;
    text-align: center;
}

.table-body
{   
     font-family: 'Barlow', sans-serif;
    background-color: #F5F5F5;
    color: #5C5C5C;
    border: 1px solid black;
}

 .inside_left 
 {
    width: 400px;
    height: 400px;
    border-radius: 5px;
        
}
.inside_right 
{
    width: 400px;
    height: 400px;
    border-radius: 5px;        
      
} 

 .inside_left1 
 {
    width: 300px;
    height: 300px;
    border-radius: 5px;
        
}
.inside_right1 
{
    width: 300px;
    height: 300px;
    border-radius: 5px;        
      
}

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.table-heading1
{   
        font-family: 'Barlow', sans-serif;
        background-color: #35475e;
        color: white;
        text-align: center;  
        
}

.table-body1
{   
        font-family: 'Barlow', sans-serif;
        background-color: #F5F5F5;
        color: #5C5C5C;
        border: 1px solid black;
}

.chairs_left
{
    background-color: ;
    height: 400px;
    width: 450px;
    margin: 15px;
    float: left;
    text-align: center;
}

.chairs_right
{
    background-color: ;
    height: 400px;
    width: 450px;
    margin: 15px;
    float: right;
    text-align: center;
} 

.color_td{
    background-color: #926239;
    
}

.color_td2{
    background-color: #c2c2a3;
    
}  

.teachers_table_t
{
    border-radius: 3px;
    background-color: #dfbf9f;
    height: 50px;
    width: 150px;
    font-family: ;
    margin-left: 43%;
    margin-right: 57%;
    text-align: center;
    position: absolute;
    bottom: 40px;
}

.teachers_table
{
    border-radius: 3px;
    background-color: #dfbf9f;
    height: 50px;
    width: 150px;
    font-family: ;
    margin: 0 auto;
    text-align: center;
}